* {
    margin: 0;
    padding: 0;
}
body {
    /* wow look a css comment */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

/* styles for header*/
header {
    padding: 20px 35px;
    background-color: #39a6b2
}

/* styles for h1*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}
/*styles for header h1 a*/
header a {
    text-decoration: none;
    color: #fce138;
}

/*styles for nav*/
header nav {
    float:right;
    margin: 7px 0;
}

/*styles for nav elements*/
header nav ul li {
    display: inline;
}

/*styles for nav a elements*/
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}